# DSCI 100 Group Project

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

# Title:

text here

## Intro:

text here

# Preliminary Data Analysis

text here

In [42]:
#Code Here
BankData <- read_csv("https://raw.githubusercontent.com/3deiuah/DSCI-100-Group-Project/main/Customer-Churn-Records.csv")  
colnames(BankData)[17] <- "CardType"
colnames(BankData)[18] <- "PointEarned"
BankData <- mutate(BankData,CardType = as_factor(CardType))
head(BankData) #Data set loaded into R, Data Set is already Tidy

Rows: 10000 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): Surname, Geography, Gender, Card Type
dbl (14): RowNumber, CustomerId, CreditScore, Age, Tenure, Balance, NumOfPro...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  RowNumber CustomerId Surname  CreditScore Geography Gender Age Tenure
1 1         15634602   Hargrave 619         France    Female 42  2
2 2         15647311   Hill     608         Spain     Female 41  1
3 3         15619304   Onio     502         France    Female 42  8
4 4         15701354   Boni     699         France    Female 39  1
5 5         15737888   Mitchell 850         Spain     Female 43  2
6 6         15574012   Chu      645         Spain     Male   44  8
  Balance   NumOfProducts HasCrCard IsActiveMember EstimatedSalary Exited
1      0.00 1             1         1              101348.88       1
2  83807.86 1             0         1              112542.58       0
3 159660.80 3             1         0              113931.57       1
4      0.00 2             0         0               93826.63       0
5 125510.82 1             1         1               79084.10       0
6 113755.78 2             1         0              149756.71       1
  Complain Satisfaction Score CardType PointEarned
1 1        2                  DIAMOND  464
2 1        3                  DIAMOND  456
3 1        3                  DIAMOND  377
4 0        5                  GOLD     350
5 0        5                  GOLD     425
6 1        5                  DIAMOND  484

In [43]:
bank_split <- initial_split(BankData, prop = 0.75, strata = CreditScore)
bank_train <- training(bank_split)
bank_test <- testing(bank_split)

In [44]:

bank_table <- bank_train |> select(PointEarned) |> summarize(PointEarnedMean = mean(PointEarned))
counttest <- bank_train |> select(CardType) |> group_by(CardType) |> summarize(CardCount = n())
counttest
bank_table

  CardType CardCount
1 DIAMOND  1883
2 GOLD     1885
3 SILVER   1890
4 PLATINUM 1840

  PointEarnedMean
1 607.5886

In [ ]:
cardTypePlot <- bank_train |> select(EstimatedSalary) |> ggplot(aes(x = EstimatedSalary)) + geom_histogram() #|> group_by(EstimatedSalary) |> summarize(EstimatedSalaryCount = n()) |> arrange() |> ggplot(aes(x = EstimatedSalary, y = EstimatedSalaryCount)) + geom_point()
cardTypePlot

# Methods

Text Here

# Expected Outcomes and Significance

text here